/* Réinitialisation des styles de base */
* {
  font-family: 'Cairo', sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

/* Styles du corps de la page */
body {
  background-image: url(img/pg/tv_series_bg.jpg);
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
/* Styles pour le bouton "B" */
.B {
    color: #fff;
    background: none;
    border: none;
    padding: 0;
    width: 100px;
    font-size: 30px;
    border-radius: 80px;
    border: solid #ffeba7 2px;
    cursor: pointer;
    transition: 0.5s;
}

.B a {
  text-decoration: none;
  color: #fff;
}

.B:hover {
  background-color: #ffeba7;
  color: #333;
}

/* Styles pour la sélection dans la partie droite de la barre de navigation */
.nav-right select{
    background: none;
    color: #fff;
    margin-right: 12px;
    font-size: 17px;
    border: none;
    outline: none;
    transition: 0.5s;
}

.nav-right select :hover{
    color: #333;
}

/* Styles pour les sections */
section{
  display: flex;
  height: 50vh;
  justify-content: center;
}

/* Styles pour les conteneurs de glissement et de rotation */
.drag-container,
.spin-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  justify-content: center;
  
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(-10deg);
  transform: rotateX(-10deg);
}

/* Styles pour les images et vidéos dans les conteneurs de glissement */
.drag-container img,
.drag-container video {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 200px;
  font-size: 50px;
  text-align: center;
  -webkit-box-shadow: 0 0 8px #fff;
  box-shadow: 0 0 8px #fff;
  -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0005);
  cursor: pointer;
}

/* Changement d'ombre et de réflexion au survol des images et vidéos */
.drag-container img:hover,
.drag-container video:hover {
  -webkit-box-shadow: 0 0 15px #fffd;
  box-shadow: 0 0 15px #fffd;
  -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0007);
}

/* Styles pour le texte dans les conteneurs de glissement */
.drag-container p {
  font-family: Serif;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotateX(90deg);
  transform: translate(-50%, -50%) rotateX(90deg);
  color: #fff;
}

/* Styles pour le sol des conteneurs de glissement */
.ground {
  width: 900px;
  height: 900px;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotateX(90deg);
  transform: translate(-50%, -50%) rotateX(90deg);
  background: -webkit-radial-gradient(center center, farthest-side, #9993, transparent);
}

/* Définition des animations de rotation */
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

/* Définition des animations de rotation inverse */
@-webkit-keyframes spinRevert {
  from {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
  to {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}

@keyframes spinRevert {
  from {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
  to {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}

/* Styles des cartes */
.global-card{
  display: flex;
  margin: 20px;
  justify-content: start;
}

/* Styles pour les éléments de la première carte */
.s1{
  font-size: 35px;
  text-align: center;
  width: 200px;
  color: #fff;
  margin: 12px;
  background-color:#21232b ;
  padding: 10px;
  border-radius: 30px;
  border: solid #ffeba7;
  cursor: pointer;
  transition: 0.5s;
}

.s1:hover{
  border:solid #ffeba7 2px;
  background-color: #ffeba7;
  color: #333;
}

/* Styles pour les éléments de la deuxième carte */
.s2{
  font-size: 35px;
  width: 250px;
  color: #fff;
  margin: 12px;
  background-color:#21232b ;
  padding: 10px;
  border-radius: 30px;
  border: solid #ffeba7;
  cursor: pointer;
  transition: 0.5s;
}

.s2:hover{
  border:solid #ffeba7 2px;
  background-color: #ffeba7;
  color: #333;
}

/* Styles pour le contenu central */
.center{
  padding: 250px 30px;
}

.center h2{
  color: #ffeba7;
  font-size: 40px;
  font-weight: 700;
}

.center h1{
  font-size: 33px;
  color: aliceblue;
  font-weight: 600;
}

.center h1 span{
  color: #ffeba7;
}

/* Styles pour les paragraphes */
.p p{
  background-color: #fff;
  display: inline-block;
  padding: 7px 11px;
  font-weight: 800;
  font-size: 8px;
  cursor: pointer;
}

/* Styles pour les boutons du contenu central */
.center button{
  margin-top: 19px;
  color: #fff;
  background: none;
  border: none;
  padding: 10px;
  width: 160px;
  font-size: 18px;
  border-radius: 30px;
  border: solid #ffeba7 2px;
  transition: 0.5s;
  cursor: pointer;
}

.center button:hover{
  background-color:#ffeba7;
  color: #333;
}

/* Styles pour le conteneur principal d'affiche */
.main-poster{
  padding: 70px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-image: url(img/pg/services_bg.jpg);
  background-position: right top;
  background-repeat: no-repeat;
}

/* Styles pour le titre et les éléments de gauche du conteneur principal */
.title{
  width: 100%;
  height: 100%;
  padding: 10px;
  margin-left: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-left{
  font-size: 14px;
  font-weight: 600;
  color: #ffeba7;
}

.title-left h1{
  font-size: 40px;
  color: #fff;
}

/* Styles pour les éléments de droite du titre */
.title-r a{
  text-decoration: none;
  color: #fff;
  margin-left: 9px;
  background-color:#21232b ;
  padding: 10px;
  border-radius: 50px;
  border: solid #333;
  transition: 0.5s;
}

.title-r a:focus{
  border:solid #ffeba7 2px;
}

/* Styles pour les cartes */
.card{
  margin-top: 20px;
  margin-left: 30px;
  position: relative;
  overflow: hidden;
  width: 400px;
  height: 500px;
  border-radius: 14px;
}

/* Styles pour les affiches */
.poster{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.poster img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.5s;
  border-radius: 12px;
}

/* Styles pour les listes de données des cartes */
.dataliste{
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: auto;
  padding: 1.5em 1.5em 2em;
  backdrop-filter: blur(16px);
  background-color:#0000009c;
  transition: 0.5s;    
}

.card:hover .dataliste{
  bottom: 0;
}

.card:hover .poster img{
  transform: scale(1.2);
}

.dataliste h1{
  color: #fff;
  font-size: 26px;
  font-weight: 600;
}

.dataliste p{
  color: #fff;
}

/* Styles pour les étoiles de notation */
.star{
  display: inline-block;
}

.star input{
  display: none;
}

.star label{
  float: right;
  cursor: pointer;
  color: #fff;
  transition: 0.3s;
}

.star label::before{
  content: '\2605';
  font-size: 30px;
}

.star input:checked ~ label,
.star label:hover,
.star label:hover~label{
  color: #f8b800;
}

/* Styles pour les boutons des listes de données */
.dataliste button{
  display: flex;
  align-items: center;
  margin-top: 10px;
  color: #fff;
  background: none;
  border: none;
  padding: 10px;
  width: 180px;
  font-size: 18px;
  border-radius: 30px;
  border: solid #ffeba7 2px;
  transition: 0.5s;
  cursor: pointer;
}

.dataliste button:hover{
  background-color:#ffeba7;
  color: #21232b;
}

/* Fin des styles */

/* Styles spécifiques pour un écran de résolution 1920x1080 */
@media screen and (max-width: 1920px) and (max-height: 1080px) {
  .card {
    width: 300px; /* Réduire la largeur des cartes */
    height: 400px; /* Réduire la hauteur des cartes */
  }

  .dataliste h1 {
    font-size: 20px; /* Ajuster la taille du texte pour s'adapter à la carte */
  }

  .dataliste p {
    font-size: 14px; /* Réduire la taille de la description */
  }

  .poster img {
    border-radius: 10px; /* Ajuster les coins arrondis */
  }

  .dataliste button {
    font-size: 16px; /* Réduire la taille des boutons */
    width: 150px; /* Ajuster la largeur des boutons */
  }

  .global-card {
    justify-content: center; /* Centrer les cartes */
  }
}


/* زر التمرير */
.scroll-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background: linear-gradient(var(--color1), var(--color2));
  background-color: #ffeba7;
  color: #333;
  border: none;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 24px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.8);
  z-index: 1000;
}

/* visibilité le bouton de scroll */
.scroll-button.show {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
